{% load i18n static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f5ff; /* Set blue background */
        }
        .container {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center bg-primary text-white">
                        <h1>Login Form</h1>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" method="POST">
                            {% csrf_token %}
                            {{ form.as_ul }}
                            {% if form.errors and not form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}
                                    {% else %}{% translate "Please correct the errors below." %}{% endif %}
                                </div>
                            {% endif %}
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>Issue with {{ field.label_tag }}</strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary px-4">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>
{% endblock %}
